.content {
  height: 4.5em;
  line-height: 4.5em;
  width: 100%;
  box-shadow: 0px 0px 8px #666666;
  position: fixed;
  background-color: white;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.title {
  font-size: 3em;
  color: #3385ff;
  cursor: pointer;
  text-decoration: none;
}

.title:hover {
  color: #FFA100;
}

.right {
  cursor: pointer;
  float: right;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 1.5em;
  height: 3em;
  color: #3385ff;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.right:hover {
  color: #FFA100;
}
